@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Novo Cliente</h1>

<form action="/Cliente/Novo" method="post">
    <label>Nome</label>
    <input type="text" name="Nome" />

    <label>Sobrenome</label>
    <input type="text" name="Sobrenome" />
    <input type="submit" value="Enviar" />
</form>